<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Les-imports-et-configuration-du-document" data-toc-modified-id="Les-imports-et-configuration-du-document-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Les imports et configuration du document</a></span><ul class="toc-item"><li><span><a href="#La-lecture-des-fichiers-d'un-répértoire" data-toc-modified-id="La-lecture-des-fichiers-d'un-répértoire-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>La lecture des fichiers d'un répértoire</a></span></li></ul></li><li><span><a href="#La-temperature-mensuelle" data-toc-modified-id="La-temperature-mensuelle-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>La temperature mensuelle</a></span></li><li><span><a href="#La-météo-mensuelle" data-toc-modified-id="La-météo-mensuelle-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>La météo mensuelle</a></span></li><li><span><a href="#La-météo-----hebdomadaire" data-toc-modified-id="La-météo-----hebdomadaire-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>La météo     hebdomadaire</a></span></li><li><span><a href="#La-météo-----journalière" data-toc-modified-id="La-météo-----journalière-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>La météo     journalière</a></span></li></ul></div>

# Les imports et configuration du document

In [1]:
import pandas as pd 
import seaborn as sns
import warnings 
import os
import time
from datetime import datetime
from matplotlib import pyplot as plt

warnings.filterwarnings(action="ignore")

%matplotlib inline
if int(str(sns.__version__).split('.')[1]) > 8 : 
    plt.style.use('seaborn-v0_8-darkgrid')
else:
    plt.style.use('seaborn-darkgrid')
    
sns.set(font_scale=3)

# os.chdir("donnees")

# Lecture des données

In [2]:
meteo1 = pd.read_csv(os.path.join('../donnees/meteo/2023', 'synop.202301.csv'),
                                           sep=';',
                                           usecols=['numer_sta','date','dd','ff','t','u','vv',
                                                    'pres','rr1','rr3','rr6','rr12','rr24'],
                                           na_values='mq',
                                           dtype={'numer_sta':str,'date':str},
                                          ).rename( columns={'numer_sta':'Station',
                                                              'date':'DateHeure',
                                                              'dd':'DirectionVent',
                                                              'ff':'VitesseVent',
                                                              't':'Temperature',
                                                              'u':'Humidite',
                                                              'vv':'Visibilite',
                                                              'pres':'Pression',
                                                              'rr1' :'Precipitation01',
                                                              'rr3' :'Precipitation03',
                                                              'rr6' :'Precipitation06',
                                                              'rr12':'Precipitation12',
                                                              'rr24':'Precipitation24'})
meteo1["DateHeure"] = pd.to_datetime(meteo1["DateHeure"], format='%Y%m%d%H%M%S')
meteo1.head()

,Station,DateHeure,DirectionVent,VitesseVent,Temperature,Humidite,Visibilite,Pression,Precipitation01,Precipitation03,Precipitation06,Precipitation12,Precipitation24
0,07005,2023-01-01,190.0,3.2,286.55,67.0,20000.0,100110.0,-0.1,-0.1,-0.1,-0.1,1.6
1,07015,2023-01-01,200.0,8.6,287.15,61.0,51270.0,100410.0,-0.1,-0.1,-0.1,-0.1,4.5
2,07020,2023-01-01,230.0,12.0,284.95,83.0,6000.0,100650.0,-0.1,3.6,5.4,5.6,22.0
3,07027,2023-01-01,220.0,11.5,287.55,74.0,53370.0,100170.0,0.0,0.2,0.8,0.8,7.0
4,07037,2023-01-01,200.0,9.3,286.65,62.0,48850.0,99240.0,-0.1,-0.1,-0.1,-0.1,1.0

In [3]:
meteo2 = pd.read_csv(os.path.join('../donnees/meteo/2023', 'synop.202301.csv'),
                                           sep=';',
                                           usecols=['numer_sta','date','dd','ff','t','u','vv',
                                                    'pres','rr1','rr3','rr6','rr12','rr24'],
                                           na_values='mq',
                                           dtype={'numer_sta':str,'date':str},
                                          ).rename( columns={'numer_sta':'Station',
                                                              'date':'DateHeure',
                                                              'dd':'DirectionVent',
                                                              'ff':'VitesseVent',
                                                              't':'Temperature',
                                                              'u':'Humidite',
                                                              'vv':'Visibilite',
                                                              'pres':'Pression',
                                                              'rr1' :'Precipitation01',
                                                              'rr3' :'Precipitation03',
                                                              'rr6' :'Precipitation06',
                                                              'rr12':'Precipitation12',
                                                              'rr24':'Precipitation24'})
meteo2["DateHeure"] = pd.to_datetime(meteo2["DateHeure"], format='%Y%m%d%H%M%S')
meteo2.head()

,Station,DateHeure,DirectionVent,VitesseVent,Temperature,Humidite,Visibilite,Pression,Precipitation01,Precipitation03,Precipitation06,Precipitation12,Precipitation24
0,07005,2023-01-01,190.0,3.2,286.55,67.0,20000.0,100110.0,-0.1,-0.1,-0.1,-0.1,1.6
1,07015,2023-01-01,200.0,8.6,287.15,61.0,51270.0,100410.0,-0.1,-0.1,-0.1,-0.1,4.5
2,07020,2023-01-01,230.0,12.0,284.95,83.0,6000.0,100650.0,-0.1,3.6,5.4,5.6,22.0
3,07027,2023-01-01,220.0,11.5,287.55,74.0,53370.0,100170.0,0.0,0.2,0.8,0.8,7.0
4,07037,2023-01-01,200.0,9.3,286.65,62.0,48850.0,99240.0,-0.1,-0.1,-0.1,-0.1,1.0

# Concatenation des deux DataFrames

In [4]:
donnees = pd.concat([meteo1,meteo2],ignore_index=True,axis=0)
donnees

,Station,DateHeure,DirectionVent,VitesseVent,Temperature,Humidite,Visibilite,Pression,Precipitation01,Precipitation03,Precipitation06,Precipitation12,Precipitation24
0,07005,2023-01-01 00:00:00,190.0,3.2,286.55,67.0,20000.0,100110.0,-0.1,-0.1,-0.1,-0.1,1.6
1,07015,2023-01-01 00:00:00,200.0,8.6,287.15,61.0,51270.0,100410.0,-0.1,-0.1,-0.1,-0.1,4.5
2,07020,2023-01-01 00:00:00,230.0,12.0,284.95,83.0,6000.0,100650.0,-0.1,3.6,5.4,5.6,22.0
3,07027,2023-01-01 00:00:00,220.0,11.5,287.55,74.0,53370.0,100170.0,0.0,0.2,0.8,0.8,7.0
4,07037,2023-01-01 00:00:00,200.0,9.3,286.65,62.0,48850.0,99240.0,-0.1,-0.1,-0.1,-0.1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30099,81401,2023-01-31 21:00:00,330.0,1.4,298.85,86.0,NaN,100970.0,0.0,0.0,0.4,2.2,18.7
30100,81405,2023-01-31 21:00:00,360.0,3.4,299.25,86.0,49250.0,100920.0,0.0,-0.1,-0.1,0.2,28.8
30101,81408,2023-01-31 21:00:00,10.0,2.0,299.95,85.0,NaN,100850.0,0.0,1.0,2.8,2.8,11.6
30102,81415,2023-01-31 21:00:00,300.0,1.9,302.25,68.0,NaN,NaN,0.0,0.0,1.0,1.0,25.0
30103,89642,2023-01-31 21:00:00,130.0,16.5,270.85,69.0,15000.0,97760.0,NaN,NaN,NaN,NaN,NaN

# Lecture des fichiers dans les répertoires

In [5]:
repertoire='../donnees/meteo/2023'
for dirname, dirnames, filenames in os.walk(repertoire):
    for filename in filenames:
        print(os.path.join(dirname, filename))

../donnees/meteo/2023\synop.202301.csv
../donnees/meteo/2023\synop.202302.csv
../donnees/meteo/2023\synop.202303.csv
../donnees/meteo/2023\synop.202304.csv
../donnees/meteo/2023\synop.202305.csv
../donnees/meteo/2023\synop.202306.csv
../donnees/meteo/2023\synop.202307.csv
../donnees/meteo/2023\synop.202308.csv
../donnees/meteo/2023\synop.202309.csv
../donnees/meteo/2023\synop.202310.csv
../donnees/meteo/2023\synop.202311.csv
../donnees/meteo/2023\synop.202312.csv