<img src="https://raw.githubusercontent.com/rbizoi/PythonFormation/main/images/e-brasil.png" width="850">

# Les imports et initialisations des variables

In [1]:
from datetime import datetime
import pandas as pd, numpy as np, os, warnings, seaborn as sns, pickle, re, unicodedata
from datetime import datetime as dt
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

font1 = fm.FontProperties(size=20)
font2 = fm.FontProperties(size=24)

%matplotlib inline

if int(str(sns.__version__).split('.')[1]) > 8 : 
    plt.style.use('seaborn-v0_8-darkgrid')
else:
    plt.style.use('seaborn-darkgrid')
    
sns.set(font_scale=2)
warnings.filterwarnings(action="ignore")

## Liste fichiers de données

In [2]:
!dir ..\donnees\ebrasil

 Le volume dans le lecteur F s'appelle Data
 Le num‚ro de s‚rie du volume est D4F7-8E12

 R‚pertoire de F:\PythonFormation\donnees\ebrasil

14/02/2024  09:47    <DIR>          .
14/02/2024  09:47    <DIR>          ..
06/10/2019  20:27         9ÿ033ÿ957 olist_customers_dataset.csv
06/10/2019  20:27        61ÿ273ÿ883 olist_geolocation_dataset.csv
06/10/2019  20:27        17ÿ654ÿ914 olist_orders_dataset.csv
06/10/2019  20:27        15ÿ438ÿ671 olist_order_items_dataset.csv
06/10/2019  20:27         5ÿ777ÿ138 olist_order_payments_dataset.csv
06/10/2019  20:27        14ÿ409ÿ007 olist_order_reviews_dataset.csv
06/10/2019  20:27         2ÿ379ÿ446 olist_products_dataset.csv
28/09/2020  07:52           177ÿ799 olist_sellers_dataset.csv
17/01/2024  08:49             2ÿ542 product_category_name_translation.csv
               9 fichier(s)      126ÿ147ÿ357 octets
               2 R‚p(s)  86ÿ205ÿ239ÿ296 octets libres

## Changement de répertoire

In [3]:
os.chdir(r"../donnees")

# Les fichiers de données 
>> La liste des fichiers de donnée du projet

In [4]:
fichiers = {}
for dirname, _, filenames in os.walk('ebrasil'):
    for filename in filenames:
        fichiers[filename] = pd.read_csv(os.path.join(dirname, filename),parse_dates=True,infer_datetime_format=True)
        print(os.path.join(dirname, filename),fichiers[filename].shape)

ebrasil\olist_customers_dataset.csv (99441, 5)
ebrasil\olist_geolocation_dataset.csv (1000163, 5)
ebrasil\olist_orders_dataset.csv (99441, 8)
ebrasil\olist_order_items_dataset.csv (112650, 7)
ebrasil\olist_order_payments_dataset.csv (103886, 5)
ebrasil\olist_order_reviews_dataset.csv (100000, 7)
ebrasil\olist_products_dataset.csv (32951, 9)
ebrasil\olist_sellers_dataset.csv (3095, 4)
ebrasil\product_category_name_translation.csv (71, 2)

# DataFrame $orders$ Commandes

In [5]:
donnees = fichiers['olist_orders_dataset.csv']

In [6]:
donnees.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [7]:
donnees.dtypes

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

## Conversions des dates

In [8]:
donnees['purchase_timestamp']= pd.to_datetime(donnees.order_purchase_timestamp, format='%Y-%m-%d %H:%M:%S',errors='ignore')
donnees['approved_at']=pd.to_datetime(donnees.order_approved_at, format='%Y-%m-%d %H:%M:%S',errors='ignore')
donnees['delivered_carrier']= pd.to_datetime(donnees.order_delivered_carrier_date, format='%Y-%m-%d %H:%M:%S',errors='ignore')
donnees['delivered_customer']= pd.to_datetime(donnees.order_delivered_customer_date, format='%Y-%m-%d %H:%M:%S',errors='ignore')
donnees['estimated_delivery']= pd.to_datetime(donnees.order_estimated_delivery_date, format='%Y-%m-%d %H:%M:%S',errors='ignore')
donnees['status']=donnees['order_status']

In [9]:
donnees.drop(columns=['order_purchase_timestamp','order_approved_at','order_delivered_carrier_date','order_delivered_customer_date','order_estimated_delivery_date','order_status'],inplace=True)

In [10]:
donnees.dtypes

order_id                      object
customer_id                   object
purchase_timestamp    datetime64[ns]
approved_at           datetime64[ns]
delivered_carrier     datetime64[ns]
delivered_customer    datetime64[ns]
estimated_delivery    datetime64[ns]
status                        object
dtype: object

In [11]:
donnees.isna().sum()

order_id                 0
customer_id              0
purchase_timestamp       0
approved_at            160
delivered_carrier     1783
delivered_customer    2965
estimated_delivery       0
status                   0
dtype: int64

In [12]:
donnees.shape

(99441, 8)

In [13]:
donnees.order_id.nunique(),donnees.shape

(99441, (99441, 8))

In [14]:
len(donnees.status.unique()),donnees.shape

(8, (99441, 8))

In [15]:
donnees.status.unique()

array(['delivered', 'invoiced', 'shipped', 'processing', 'unavailable',
       'canceled', 'created', 'approved'], dtype=object)

## Variables suplimentaires

In [16]:
donnees['annee']           = donnees.purchase_timestamp.dt.year
donnees['mois']            = donnees.purchase_timestamp.dt.month
donnees['annee_mois']      = donnees.purchase_timestamp.dt.year*100 + donnees.purchase_timestamp.dt.month
donnees['jour']            = donnees.purchase_timestamp.dt.day
donnees['annee_jour']      = donnees.purchase_timestamp.dt.month*1000 + donnees.purchase_timestamp.dt.day
donnees['jour_semaine']    = donnees.purchase_timestamp.dt.day_of_week
donnees['trimestre']       = donnees.purchase_timestamp.dt.quarter
donnees['annee_trimestre'] = donnees.purchase_timestamp.dt.month*10 + donnees.purchase_timestamp.dt.quarter
donnees['semaine']         = donnees.purchase_timestamp.dt.isocalendar().week.astype('int32')
donnees['annee_semaine']   = (donnees.purchase_timestamp.dt.month*100 + donnees.purchase_timestamp.dt.isocalendar().week).astype('int32')
donnees['heure']           = donnees.purchase_timestamp.dt.hour

# Intervalle depuis la commande
donnees['approuvee']       = (donnees.approved_at        - donnees.purchase_timestamp).dt.seconds/60/60
donnees['envoyee'  ]       = (donnees.delivered_carrier  - donnees.purchase_timestamp).dt.seconds/60/60
donnees['livree'   ]       = (donnees.delivered_customer - donnees.purchase_timestamp).dt.seconds/60/60
donnees['estimee'  ]       = (donnees.estimated_delivery - donnees.purchase_timestamp).dt.seconds/60/60

In [17]:
donnees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            99441 non-null  object
 1   customer_id         99441 non-null  object
 2   purchase_timestamp  99441 non-null  datetime64[ns]
 3   approved_at         99281 non-null  datetime64[ns]
 4   delivered_carrier   97658 non-null  datetime64[ns]
 5   delivered_customer  96476 non-null  datetime64[ns]
 6   estimated_delivery  99441 non-null  datetime64[ns]
 7   status              99441 non-null  object
 8   annee               99441 non-null  int32
 9   mois                99441 non-null  int32
 10  annee_mois          99441 non-null  int32
 11  jour                99441 non-null  int32
 12  annee_jour          99441 non-null  int32
 13  jour_semaine        99441 non-null  int32
 14  trimestre           99441 non-null  int32
 15  annee_trimestre     99441 non-null  int32
 16  semaine             99441 non-null  int32
 17  annee_semaine       99441 non-null  int32
 18  heure               99441 non-null  int32
 19  approuvee           99281 non-null  float64
 20  envoyee             97658 non-null  float64
 21  livree              96476 non-null  float64
 22  estimee             99441 non-null  float64
dtypes: datetime64[ns](5), float64(4), int32(11), object(3)
memory usage: 13.3+ MB

In [18]:
donnees.head()

,order_id,customer_id,purchase_timestamp,approved_at,delivered_carrier,delivered_customer,estimated_delivery,status,annee,mois,...,jour_semaine,trimestre,annee_trimestre,semaine,annee_semaine,heure,approuvee,envoyee,livree,estimee
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,delivered,2017,10,...,0,4,104,40,1040,10,0.178333,8.974167,10.477778,13.057500
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,delivered,2018,7,...,1,3,73,30,730,20,6.713889,17.823056,18.768889,3.306389
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,delivered,2018,8,...,2,3,83,32,832,8,0.276111,5.186389,9.461111,15.353056
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,delivered,2017,11,...,5,4,114,46,1146,19,0.298056,18.198056,5.010000,4.531667
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,delivered,2018,2,...,1,1,21,7,207,21,1.030556,22.465278,20.973056,2.689167

## Sauvegarde en parquet

In [19]:
donnees.to_csv('./ecommerce/orders.csv',index=False)

In [20]:
donnees.to_parquet('./ecommerce/orders.parquet',compression='gzip', engine='pyarrow')

In [21]:
pd.read_csv('./ecommerce/orders.csv').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            99441 non-null  object
 1   customer_id         99441 non-null  object
 2   purchase_timestamp  99441 non-null  object
 3   approved_at         99281 non-null  object
 4   delivered_carrier   97658 non-null  object
 5   delivered_customer  96476 non-null  object
 6   estimated_delivery  99441 non-null  object
 7   status              99441 non-null  object
 8   annee               99441 non-null  int64
 9   mois                99441 non-null  int64
 10  annee_mois          99441 non-null  int64
 11  jour                99441 non-null  int64
 12  annee_jour          99441 non-null  int64
 13  jour_semaine        99441 non-null  int64
 14  trimestre           99441 non-null  int64
 15  annee_trimestre     99441 non-null  int64
 16  semaine             99441 non-null  int64
 17  annee_semaine       99441 non-null  int64
 18  heure               99441 non-null  int64
 19  approuvee           99281 non-null  float64
 20  envoyee             97658 non-null  float64
 21  livree              96476 non-null  float64
 22  estimee             99441 non-null  float64
dtypes: float64(4), int64(11), object(8)
memory usage: 17.4+ MB

In [22]:
pd.read_parquet('./ecommerce/orders.parquet').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            99441 non-null  object
 1   customer_id         99441 non-null  object
 2   purchase_timestamp  99441 non-null  datetime64[ns]
 3   approved_at         99281 non-null  datetime64[ns]
 4   delivered_carrier   97658 non-null  datetime64[ns]
 5   delivered_customer  96476 non-null  datetime64[ns]
 6   estimated_delivery  99441 non-null  datetime64[ns]
 7   status              99441 non-null  object
 8   annee               99441 non-null  int32
 9   mois                99441 non-null  int32
 10  annee_mois          99441 non-null  int32
 11  jour                99441 non-null  int32
 12  annee_jour          99441 non-null  int32
 13  jour_semaine        99441 non-null  int32
 14  trimestre           99441 non-null  int32
 15  annee_trimestre     99441 non-null  int32
 16  semaine             99441 non-null  int32
 17  annee_semaine       99441 non-null  int32
 18  heure               99441 non-null  int32
 19  approuvee           99281 non-null  float64
 20  envoyee             97658 non-null  float64
 21  livree              96476 non-null  float64
 22  estimee             99441 non-null  float64
dtypes: datetime64[ns](5), float64(4), int32(11), object(3)
memory usage: 13.3+ MB

In [23]:
!dir ecommerce

 Le volume dans le lecteur F s'appelle Data
 Le num‚ro de s‚rie du volume est D4F7-8E12

 R‚pertoire de F:\PythonFormation\donnees\ecommerce

14/02/2024  15:37    <DIR>          .
14/02/2024  15:37    <DIR>          ..
14/02/2024  15:44         4ÿ525ÿ883 customers.parquet
14/02/2024  15:37         1ÿ122ÿ602 geolocation.parquet
14/02/2024  13:48         4ÿ425ÿ246 items.parquet
14/02/2024  13:48         4ÿ527ÿ569 items_products.parquet
14/02/2024  15:45        27ÿ443ÿ040 orders.csv
14/02/2024  15:45         9ÿ269ÿ678 orders.parquet
14/02/2024  14:59         9ÿ725ÿ278 orders_payments.parquet
14/02/2024  15:00        11ÿ010ÿ093 orders_payments_reviews_p.parquet
14/02/2024  14:58         2ÿ375ÿ117 payments.parquet
14/02/2024  13:48           963ÿ000 products.parquet
14/02/2024  14:59         7ÿ858ÿ269 reviews.parquet
14/02/2024  14:59         3ÿ201ÿ554 reviews_p.parquet
14/02/2024  15:06            91ÿ808 sellers.parquet
              13 fichier(s)       86ÿ539ÿ137 octets
               2 R‚p(s)  86ÿ209ÿ691ÿ648 octets libres