<img src="https://raw.githubusercontent.com/rbizoi/PythonFormation/main/images/e-brasil.png" width="850">

# Les imports et initialisations des variables

In [1]:
from datetime import datetime
import pandas as pd, numpy as np, os, warnings, seaborn as sns, pickle, re, unicodedata
from datetime import datetime as dt
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

font1 = fm.FontProperties(size=20)
font2 = fm.FontProperties(size=24)

%matplotlib inline

if int(str(sns.__version__).split('.')[1]) > 8 : 
    plt.style.use('seaborn-v0_8-darkgrid')
else:
    plt.style.use('seaborn-darkgrid')
    
sns.set(font_scale=2)
warnings.filterwarnings(action="ignore")

## Liste fichiers de données

In [2]:
!dir ..\donnees\ebrasil

 Le volume dans le lecteur F s'appelle Data
 Le num‚ro de s‚rie du volume est D4F7-8E12

 R‚pertoire de F:\PythonFormation\donnees\ebrasil

14/02/2024  09:47    <DIR>          .
14/02/2024  09:47    <DIR>          ..
06/10/2019  20:27         9ÿ033ÿ957 olist_customers_dataset.csv
06/10/2019  20:27        61ÿ273ÿ883 olist_geolocation_dataset.csv
06/10/2019  20:27        17ÿ654ÿ914 olist_orders_dataset.csv
06/10/2019  20:27        15ÿ438ÿ671 olist_order_items_dataset.csv
06/10/2019  20:27         5ÿ777ÿ138 olist_order_payments_dataset.csv
06/10/2019  20:27        14ÿ409ÿ007 olist_order_reviews_dataset.csv
06/10/2019  20:27         2ÿ379ÿ446 olist_products_dataset.csv
28/09/2020  07:52           177ÿ799 olist_sellers_dataset.csv
17/01/2024  08:49             2ÿ542 product_category_name_translation.csv
               9 fichier(s)      126ÿ147ÿ357 octets
               2 R‚p(s)  86ÿ205ÿ255ÿ680 octets libres

## Changement de répertoire

In [3]:
os.chdir(r"../donnees")

In [14]:
!dir ecommerce

 Le volume dans le lecteur F s'appelle Data
 Le num‚ro de s‚rie du volume est D4F7-8E12

 R‚pertoire de F:\PythonFormation\donnees\ecommerce

14/02/2024  15:37    <DIR>          .
14/02/2024  15:37    <DIR>          ..
14/02/2024  15:45         4ÿ525ÿ883 customers.parquet
14/02/2024  15:48         1ÿ122ÿ602 geolocation.parquet
14/02/2024  15:46         4ÿ425ÿ246 items.parquet
14/02/2024  15:46         4ÿ527ÿ569 items_products.parquet
14/02/2024  15:45        27ÿ443ÿ040 orders.csv
14/02/2024  15:45         9ÿ269ÿ678 orders.parquet
14/02/2024  15:46         9ÿ725ÿ278 orders_payments.parquet
14/02/2024  15:47        11ÿ010ÿ093 orders_payments_reviews_p.parquet
14/02/2024  15:46         2ÿ375ÿ117 payments.parquet
14/02/2024  15:46           963ÿ000 products.parquet
14/02/2024  15:47         7ÿ858ÿ269 reviews.parquet
14/02/2024  15:47         3ÿ201ÿ554 reviews_p.parquet
14/02/2024  15:49            91ÿ808 sellers.parquet
              13 fichier(s)       86ÿ539ÿ137 octets
               2 R‚p(s)  86ÿ205ÿ042ÿ688 octets libres

In [32]:
donnees = pd.read_parquet('./ecommerce/orders_payments_reviews_p.parquet')

In [33]:
donnees = donnees.merge(pd.read_parquet('./ecommerce/items_products.parquet'),how='left',on='order_id')

In [34]:
donnees.head()

,order_id,customer_id,purchase_timestamp,approved_at,delivered_carrier,delivered_customer,estimated_delivery,status,annee,mois,...,shipping_limit,limit,name_lenght,description_lenght,photos_qty,weight_g,length_cm,height_cm,width_cm,category_name
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,delivered,2017,10,...,2017-10-06 11:07:15,0.178333,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,delivered,2018,7,...,2018-07-30 03:24:27,6.713889,29.0,178.0,1.0,400.0,19.0,13.0,19.0,perfumery
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,delivered,2018,8,...,2018-08-13 08:55:23,0.276111,46.0,232.0,1.0,420.0,24.0,19.0,21.0,auto
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,delivered,2017,11,...,2017-11-23 19:45:59,0.298056,59.0,468.0,3.0,450.0,30.0,10.0,20.0,pet_shop
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,delivered,2018,2,...,2018-02-19 20:31:37,23.216111,38.0,316.0,4.0,250.0,51.0,15.0,15.0,stationery

,customer_id,customer_unique_id,zip_code
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056
...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703

In [40]:
donnees = donnees.merge(pd.read_parquet('./ecommerce/customers.parquet')[['customer_id', 'customer_unique_id', 'zip_code']]
                        ,how='left',on='customer_id')

In [41]:
donnees.head()

,order_id,customer_id,purchase_timestamp,approved_at,delivered_carrier,delivered_customer,estimated_delivery,status,annee,mois,...,height_cm,width_cm,category_name,customer_unique_id_x,c_zip_code,c_city,c_state,c_name_state,customer_unique_id_y,zip_code
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,delivered,2017,10,...,8.0,13.0,housewares,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,São Paulo,7c396fd4830fd04220f754e42b4e5bff,3149
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,delivered,2018,7,...,13.0,19.0,perfumery,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,Bahia,af07308b275d755c9edb36a90c618231,47813
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,delivered,2018,8,...,19.0,21.0,auto,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,Goiás,3a653a41f6f9fc3d2a113cf8398680e8,75265
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,delivered,2017,11,...,10.0,20.0,pet_shop,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN,Rio Grande do Norte,7c142cf63193a1473d2e66489a9ae977,59296
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,delivered,2018,2,...,15.0,15.0,stationery,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,SP,São Paulo,72632f0f9dd73dfee390c9b22eb56dd6,9195

In [42]:
donnees = donnees.merge(pd.read_parquet('./ecommerce/geolocation.parquet'),how='left',on='zip_code')

In [43]:
donnees.head()

,order_id,customer_id,purchase_timestamp,approved_at,delivered_carrier,delivered_customer,estimated_delivery,status,annee,mois,...,customer_unique_id_y,zip_code,city,state,lat_min,lat_max,lat,lng_min,lng_max,lng
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,delivered,2017,10,...,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,São Paulo,-23.583885,-23.573954,-23.576983,-46.587473,-46.586194,-46.587161
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,delivered,2018,7,...,af07308b275d755c9edb36a90c618231,47813,barreiras,Bahia,-12.945892,-12.117897,-12.177924,-45.016313,-38.456194,-44.660711
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,delivered,2018,8,...,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,Goiás,-16.752735,-16.740474,-16.745150,-48.522139,-48.500253,-48.514783
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,delivered,2017,11,...,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,Rio Grande do Norte,-5.778488,-5.767733,-5.774190,-35.281450,-35.250465,-35.271143
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,delivered,2018,2,...,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,São Paulo,-23.760018,-23.665996,-23.676370,-46.524784,-46.471974,-46.514627

In [48]:
donnees.to_parquet('./ecommerce/orders_pric.parquet',compression='gzip', engine='pyarrow')

In [49]:
pd.read_parquet('./ecommerce/orders_pric.parquet').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113425 entries, 0 to 113424
Data columns (total 83 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              113425 non-null  object
 1   customer_id           113425 non-null  object
 2   purchase_timestamp    113425 non-null  datetime64[ns]
 3   approved_at           113264 non-null  datetime64[ns]
 4   delivered_carrier     111457 non-null  datetime64[ns]
 5   delivered_customer    110196 non-null  datetime64[ns]
 6   estimated_delivery    113425 non-null  datetime64[ns]
 7   status                113425 non-null  object
 8   annee                 113425 non-null  int32
 9   mois                  113425 non-null  int32
 10  annee_mois            113425 non-null  int32
 11  jour                  113425 non-null  int32
 12  annee_jour            113425 non-null  int32
 13  jour_semaine          113425 non-null  int32
 14  trimestre             113425 non-null  int32
 15  annee_trimestre       113425 non-null  int32
 16  semaine               113425 non-null  int32
 17  annee_semaine         113425 non-null  int32
 18  heure                 113425 non-null  int32
 19  approuvee             113264 non-null  float64
 20  envoyee               111457 non-null  float64
 21  livree                110196 non-null  float64
 22  estimee               113425 non-null  float64
 23  int_boleto            113422 non-null  float64
 24  int_credit_card       113422 non-null  float64
 25  int_debit_card        113422 non-null  float64
 26  int_not_defined       113422 non-null  float64
 27  int_voucher           113422 non-null  float64
 28  value_boleto          113422 non-null  float64
 29  value_credit_card     113422 non-null  float64
 30  value_debit_card      113422 non-null  float64
 31  value_not_defined     113422 non-null  float64
 32  value_voucher         113422 non-null  float64
 33  answer_1              113425 non-null  float64
 34  answer_2              113425 non-null  float64
 35  answer_3              113425 non-null  float64
 36  answer_4              113425 non-null  float64
 37  answer_5              113425 non-null  float64
 38  comment_1             113425 non-null  int16
 39  comment_2             113425 non-null  int16
 40  comment_3             113425 non-null  int16
 41  comment_4             113425 non-null  int16
 42  comment_5             113425 non-null  int16
 43  creation_1            113425 non-null  float64
 44  creation_2            113425 non-null  float64
 45  creation_3            113425 non-null  float64
 46  creation_4            113425 non-null  float64
 47  creation_5            113425 non-null  float64
 48  score_1               113425 non-null  int64
 49  score_2               113425 non-null  int64
 50  score_3               113425 non-null  int64
 51  score_4               113425 non-null  int64
 52  score_5               113425 non-null  int64
 53  order_item_id         112650 non-null  float64
 54  product_id            112650 non-null  object
 55  seller_id             112650 non-null  object
 56  price                 112650 non-null  float64
 57  freight_value         112650 non-null  float64
 58  shipping_limit        112650 non-null  datetime64[ns]
 59  limit                 112650 non-null  float64
 60  name_lenght           111047 non-null  float64
 61  description_lenght    111047 non-null  float64
 62  photos_qty            111047 non-null  float64
 63  weight_g              112632 non-null  float64
 64  length_cm             112632 non-null  float64
 65  height_cm             112632 non-null  float64
 66  width_cm              112632 non-null  float64
 67  category_name         112650 non-null  object
 68  customer_unique_id_x  113425 non-null  object
 69  c_zip_code            113425 non-null  int32
 70  c_city                113425 non-null  object
 71  c_state               113425 non-null  object
 72  c_name_state          113425 non-null  object
 73  customer_unique_id_y  113425 non-null  object
 74  zip_code              113425 non-null  int32
 75  city                  113119 non-null  object
 76  state                 113119 non-null  object
 77  lat_min               113119 non-null  float64
 78  lat_max               113119 non-null  float64
 79  lat                   113119 non-null  float64
 80  lng_min               113119 non-null  float64
 81  lng_max               113119 non-null  float64
 82  lng                   113119 non-null  float64
dtypes: datetime64[ns](6), float64(41), int16(5), int32(13), int64(5), object(13)
memory usage: 63.0+ MB

In [50]:
!dir ecommerce

 Le volume dans le lecteur F s'appelle Data
 Le num‚ro de s‚rie du volume est D4F7-8E12

 R‚pertoire de F:\PythonFormation\donnees\ecommerce

14/02/2024  16:20    <DIR>          .
14/02/2024  16:20    <DIR>          ..
14/02/2024  15:45         4ÿ525ÿ883 customers.parquet
14/02/2024  15:48         1ÿ122ÿ602 geolocation.parquet
14/02/2024  16:35         4ÿ726ÿ507 items.parquet
14/02/2024  16:08         4ÿ829ÿ801 items_products.parquet
14/02/2024  15:45        27ÿ443ÿ040 orders.csv
14/02/2024  15:45         9ÿ269ÿ678 orders.parquet
14/02/2024  15:46         9ÿ725ÿ278 orders_payments.parquet
14/02/2024  15:47        11ÿ010ÿ093 orders_payments_reviews_p.parquet
14/02/2024  16:52        22ÿ022ÿ482 orders_pric.parquet
14/02/2024  15:46         2ÿ375ÿ117 payments.parquet
14/02/2024  16:08           963ÿ000 products.parquet
14/02/2024  15:47         7ÿ858ÿ269 reviews.parquet
14/02/2024  15:47         3ÿ201ÿ554 reviews_p.parquet
14/02/2024  15:49            91ÿ808 sellers.parquet
              14 fichier(s)      109ÿ165ÿ112 octets
               2 R‚p(s)  86ÿ159ÿ384ÿ576 octets libres