<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Les-imports-et-initialisations-des-variables" data-toc-modified-id="Les-imports-et-initialisations-des-variables-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Les imports et initialisations des variables</a></span><ul class="toc-item"><li><span><a href="#Fonctions-utilitaires" data-toc-modified-id="Fonctions-utilitaires-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Fonctions utilitaires</a></span></li></ul></li><li><span><a href="#Les-fichiers-de-données" data-toc-modified-id="Les-fichiers-de-données-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Les fichiers de données</a></span></li><li><span><a href="#orders_dataset" data-toc-modified-id="orders_dataset-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>orders_dataset</a></span></li><li><span><a href="#order_items_dataset" data-toc-modified-id="order_items_dataset-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>order_items_dataset</a></span></li><li><span><a href="#olist_order_payments_dataset" data-toc-modified-id="olist_order_payments_dataset-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>olist_order_payments_dataset</a></span></li><li><span><a href="#olist_order_reviews_dataset" data-toc-modified-id="olist_order_reviews_dataset-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>olist_order_reviews_dataset</a></span></li><li><span><a href="#olist_customers_dataset" data-toc-modified-id="olist_customers_dataset-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>olist_customers_dataset</a></span></li><li><span><a href="#olist_sellers_dataset" data-toc-modified-id="olist_sellers_dataset-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>olist_sellers_dataset</a></span></li><li><span><a href="#olist_geolocation_dataset" data-toc-modified-id="olist_geolocation_dataset-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>olist_geolocation_dataset</a></span></li><li><span><a href="#Les-données-des-produits" data-toc-modified-id="Les-données-des-produits-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Les données des produits</a></span></li></ul></div>

<img src="https://raw.githubusercontent.com/rbizoi/PythonFormationCESI/main/images/e-brasil.png" width="850">

# Les imports et initialisations des variables

In [1]:
from datetime import datetime
import pandas as pd, numpy as np, os, warnings, seaborn as sns, pickle, re, unicodedata
from datetime import datetime as dt
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

font1 = fm.FontProperties(size=20)
font2 = fm.FontProperties(size=24)

%matplotlib inline

if int(str(sns.__version__).split('.')[1]) > 8 : 
    plt.style.use('seaborn-v0_8-darkgrid')
else:
    plt.style.use('seaborn-darkgrid')
    
sns.set(font_scale=2)
warnings.filterwarnings(action="ignore")

In [2]:
!rm -Rf ../donnees/ecommerce

In [3]:
os.chdir(r"../donnees")
os.mkdir('./ecommerce')

## Fonctions utilitaires

In [4]:
def nettoyer(valeur):
    nk = unicodedata.normalize('NFKD', valeur.lower())
    valeur = str(nk.encode('ASCII', 'ignore').decode('ASCII'))
    return re.compile('[^\w ]').sub('', valeur).strip().replace('  ',' ')

# Les fichiers de données 
>> La liste des fichiers de donnée du projet

In [5]:
fichiers = {}
for dirname, _, filenames in os.walk('ebrasil'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
        fichiers[filename] = pd.read_csv(os.path.join(dirname, filename),parse_dates=True,infer_datetime_format=True)

ebrasil/olist_products_dataset.csv
ebrasil/olist_geolocation_dataset.csv
ebrasil/olist_order_payments_dataset.csv
ebrasil/olist_orders_dataset.csv
ebrasil/olist_order_reviews_dataset.csv
ebrasil/olist_customers_dataset.csv
ebrasil/product_category_name_translation.csv
ebrasil/olist_sellers_dataset.csv
ebrasil/olist_order_items_dataset.csv
ebrasil/.ipynb_checkpoints/product_category_name_translation-checkpoint.csv

# orders_dataset

In [6]:
donnees = fichiers['olist_orders_dataset.csv']

In [7]:
donnees.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [8]:
donnees.dtypes

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

In [9]:
donnees['order_purchase_timestamp']= pd.to_datetime(donnees.order_purchase_timestamp, format='%Y-%m-%d %H:%M:%S',errors='ignore')
donnees['order_approved_at']=pd.to_datetime(donnees.order_approved_at, format='%Y-%m-%d %H:%M:%S',errors='ignore')
donnees['order_delivered_carrier_date']= pd.to_datetime(donnees.order_delivered_carrier_date, format='%Y-%m-%d %H:%M:%S',errors='ignore')
donnees['order_delivered_customer_date']= pd.to_datetime(donnees.order_delivered_customer_date, format='%Y-%m-%d %H:%M:%S',errors='ignore')
donnees['order_estimated_delivery_date']= pd.to_datetime(donnees.order_estimated_delivery_date, format='%Y-%m-%d %H:%M:%S',errors='ignore')

In [10]:
donnees.dtypes

order_id                                 object
customer_id                              object
order_status                             object
order_purchase_timestamp         datetime64[ns]
order_approved_at                datetime64[ns]
order_delivered_carrier_date     datetime64[ns]
order_delivered_customer_date    datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
dtype: object

In [11]:
donnees.isna()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
99436,False,False,False,False,False,False,False,False
99437,False,False,False,False,False,False,False,False
99438,False,False,False,False,False,False,False,False
99439,False,False,False,False,False,False,False,False
99440,False,False,False,False,False,False,False,False

In [12]:
donnees.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [13]:
donnees.order_id.nunique(),donnees.shape

(99441, (99441, 8))

In [14]:
len(donnees.order_status.unique()),donnees.shape

(8, (99441, 8))

In [15]:
donnees.order_status.unique()

array(['delivered', 'invoiced', 'shipped', 'processing', 'unavailable',
       'canceled', 'created', 'approved'], dtype=object)

In [16]:
donnees.to_parquet('./ecommerce/orders',compression='gzip', engine='pyarrow')

# order_items_dataset

In [17]:
donnees = fichiers['olist_order_items_dataset.csv']

In [18]:
donnees.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [19]:
donnees.dtypes

order_id                object
order_item_id            int64
product_id              object
seller_id               object
shipping_limit_date     object
price                  float64
freight_value          float64
dtype: object

In [20]:
donnees.order_id.nunique(),donnees.shape

(98666, (112650, 7))

In [21]:
donnees.groupby(['order_id','product_id']).agg(sum).shape

(102425, 5)

In [22]:
donnees.groupby(['order_id','product_id','seller_id']).agg(sum).shape

(102425, 4)

In [23]:
donnees['shipping_limit_date'] = pd.to_datetime(donnees.shipping_limit_date, format='%Y-%m-%d %H:%M:%S',errors='ignore')

In [24]:
donnees.dtypes

order_id                       object
order_item_id                   int64
product_id                     object
seller_id                      object
shipping_limit_date    datetime64[ns]
price                         float64
freight_value                 float64
dtype: object

In [25]:
donnees.isna().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [26]:
donnees.to_parquet('./ecommerce/order_items',compression='gzip', engine='pyarrow')

# olist_order_payments_dataset

In [27]:
donnees = fichiers['olist_order_payments_dataset.csv']

In [28]:
donnees.groupby(['order_id']).agg({'payment_value':sum})

                                  payment_value
order_id
00010242fe8c5a6d1ba2dd792cb16214          72.19
00018f77f2f0320c557190d7a144bdd3         259.83
000229ec398224ef6ca0657da4fc703e         216.87
00024acbcdf0a6daa1e931b038114c75          25.78
00042b26cf59d7ce69dfabb4e55b4fd9         218.04
...                                         ...
fffc94f6ce00a00581880bf54a75a037         343.40
fffcd46ef2263f404302a634eb57f7eb         386.53
fffce4705a9662cd70adb13d4a31832d         116.85
fffe18544ffabc95dfada21779c9644f          64.71
fffe41c64501cc87c801fd61db3f6244          55.79

[99440 rows x 1 columns]

In [29]:
donnees.payment_type.unique()

array(['credit_card', 'boleto', 'voucher', 'debit_card', 'not_defined'],
      dtype=object)

In [30]:
donnees.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [31]:
donnees.columns

Index(['order_id', 'payment_sequential', 'payment_type',
       'payment_installments', 'payment_value'],
      dtype='object')

In [32]:
donnees.pivot_table( index='order_id',columns='payment_type',
                     values=['payment_installments','payment_value'],
                     fill_value=0, dropna=False)

                                 payment_installments                         \
payment_type                                   boleto credit_card debit_card
order_id
00010242fe8c5a6d1ba2dd792cb16214                  0.0         2.0        0.0
00018f77f2f0320c557190d7a144bdd3                  0.0         3.0        0.0
000229ec398224ef6ca0657da4fc703e                  0.0         5.0        0.0
00024acbcdf0a6daa1e931b038114c75                  0.0         2.0        0.0
00042b26cf59d7ce69dfabb4e55b4fd9                  0.0         3.0        0.0
...                                               ...         ...        ...
fffc94f6ce00a00581880bf54a75a037                  1.0         0.0        0.0
fffcd46ef2263f404302a634eb57f7eb                  1.0         0.0        0.0
fffce4705a9662cd70adb13d4a31832d                  0.0         3.0        0.0
fffe18544ffabc95dfada21779c9644f                  0.0         3.0        0.0
fffe41c64501cc87c801fd61db3f6244                  0.0         1.0        0.0

                                                     payment_value  \
payment_type                     not_defined voucher        boleto
order_id
00010242fe8c5a6d1ba2dd792cb16214         0.0     0.0          0.00
00018f77f2f0320c557190d7a144bdd3         0.0     0.0          0.00
000229ec398224ef6ca0657da4fc703e         0.0     0.0          0.00
00024acbcdf0a6daa1e931b038114c75         0.0     0.0          0.00
00042b26cf59d7ce69dfabb4e55b4fd9         0.0     0.0          0.00
...                                      ...     ...           ...
fffc94f6ce00a00581880bf54a75a037         0.0     0.0        343.40
fffcd46ef2263f404302a634eb57f7eb         0.0     0.0        386.53
fffce4705a9662cd70adb13d4a31832d         0.0     0.0          0.00
fffe18544ffabc95dfada21779c9644f         0.0     0.0          0.00
fffe41c64501cc87c801fd61db3f6244         0.0     0.0          0.00


payment_type                     credit_card debit_card not_defined voucher
order_id
00010242fe8c5a6d1ba2dd792cb16214       72.19        0.0         0.0     0.0
00018f77f2f0320c557190d7a144bdd3      259.83        0.0         0.0     0.0
000229ec398224ef6ca0657da4fc703e      216.87        0.0         0.0     0.0
00024acbcdf0a6daa1e931b038114c75       25.78        0.0         0.0     0.0
00042b26cf59d7ce69dfabb4e55b4fd9      218.04        0.0         0.0     0.0
...                                      ...        ...         ...     ...
fffc94f6ce00a00581880bf54a75a037        0.00        0.0         0.0     0.0
fffcd46ef2263f404302a634eb57f7eb        0.00        0.0         0.0     0.0
fffce4705a9662cd70adb13d4a31832d      116.85        0.0         0.0     0.0
fffe18544ffabc95dfada21779c9644f       64.71        0.0         0.0     0.0
fffe41c64501cc87c801fd61db3f6244       55.79        0.0         0.0     0.0

[99440 rows x 10 columns]

In [33]:
donnees = donnees.pivot_table(index='order_id',
                              columns='payment_type',
                              values=['payment_installments','payment_value'],
                              fill_value=0)

In [34]:
donnees.isna().sum()

                      payment_type
payment_installments  boleto          0
                      credit_card     0
                      debit_card      0
                      not_defined     0
                      voucher         0
payment_value         boleto          0
                      credit_card     0
                      debit_card      0
                      not_defined     0
                      voucher         0
dtype: int64

In [35]:
donnees.head()

                                 payment_installments                         \
payment_type                                   boleto credit_card debit_card
order_id
00010242fe8c5a6d1ba2dd792cb16214                  0.0         2.0        0.0
00018f77f2f0320c557190d7a144bdd3                  0.0         3.0        0.0
000229ec398224ef6ca0657da4fc703e                  0.0         5.0        0.0
00024acbcdf0a6daa1e931b038114c75                  0.0         2.0        0.0
00042b26cf59d7ce69dfabb4e55b4fd9                  0.0         3.0        0.0

                                                     payment_value  \
payment_type                     not_defined voucher        boleto
order_id
00010242fe8c5a6d1ba2dd792cb16214         0.0     0.0           0.0
00018f77f2f0320c557190d7a144bdd3         0.0     0.0           0.0
000229ec398224ef6ca0657da4fc703e         0.0     0.0           0.0
00024acbcdf0a6daa1e931b038114c75         0.0     0.0           0.0
00042b26cf59d7ce69dfabb4e55b4fd9         0.0     0.0           0.0


payment_type                     credit_card debit_card not_defined voucher
order_id
00010242fe8c5a6d1ba2dd792cb16214       72.19        0.0         0.0     0.0
00018f77f2f0320c557190d7a144bdd3      259.83        0.0         0.0     0.0
000229ec398224ef6ca0657da4fc703e      216.87        0.0         0.0     0.0
00024acbcdf0a6daa1e931b038114c75       25.78        0.0         0.0     0.0
00042b26cf59d7ce69dfabb4e55b4fd9      218.04        0.0         0.0     0.0

In [36]:
donnees.describe()

             payment_installments                                            \
payment_type               boleto   credit_card    debit_card   not_defined
count                99440.000000  99440.000000  99440.000000  99440.000000
mean                     0.198954      2.697808      0.015366      0.000030
std                      0.399215      2.903636      0.123004      0.005493
min                      0.000000      0.000000      0.000000      0.000000
25%                      0.000000      1.000000      0.000000      0.000000
50%                      0.000000      2.000000      0.000000      0.000000
75%                      0.000000      4.000000      0.000000      0.000000
max                      1.000000     24.000000      1.000000      1.000000

                           payment_value                              \
payment_type       voucher        boleto   credit_card    debit_card
count         99440.000000  99440.000000  99440.000000  99440.000000
mean              0.038878     28.855202    125.614499      2.191942
std               0.193304    111.479625    206.116971     35.157809
min               0.000000      0.000000      0.000000      0.000000
25%               0.000000      0.000000     23.930000      0.000000
50%               0.000000      0.000000     77.230000      0.000000
75%               0.000000      0.000000    153.740000      0.000000
max               1.000000   7274.880000  13664.080000   4445.500000


payment_type not_defined       voucher
count            99440.0  99440.000000
mean                 0.0      3.232100
std                  0.0     30.443595
min                  0.0      0.000000
25%                  0.0      0.000000
50%                  0.0      0.000000
75%                  0.0      0.000000
max                  0.0   3184.340000

In [37]:
donnees.columns = [str(col[0]).replace('payment_','') + '_' + col[1] for col in donnees.columns]

In [38]:
donnees.columns

Index(['installments_boleto', 'installments_credit_card',
       'installments_debit_card', 'installments_not_defined',
       'installments_voucher', 'value_boleto', 'value_credit_card',
       'value_debit_card', 'value_not_defined', 'value_voucher'],
      dtype='object')

In [39]:
donnees.reset_index().head()

,order_id,installments_boleto,installments_credit_card,installments_debit_card,installments_not_defined,installments_voucher,value_boleto,value_credit_card,value_debit_card,value_not_defined,value_voucher
0,00010242fe8c5a6d1ba2dd792cb16214,0.0,2.0,0.0,0.0,0.0,0.0,72.19,0.0,0.0,0.0
1,00018f77f2f0320c557190d7a144bdd3,0.0,3.0,0.0,0.0,0.0,0.0,259.83,0.0,0.0,0.0
2,000229ec398224ef6ca0657da4fc703e,0.0,5.0,0.0,0.0,0.0,0.0,216.87,0.0,0.0,0.0
3,00024acbcdf0a6daa1e931b038114c75,0.0,2.0,0.0,0.0,0.0,0.0,25.78,0.0,0.0,0.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,0.0,3.0,0.0,0.0,0.0,0.0,218.04,0.0,0.0,0.0

In [40]:
donnees[donnees.installments_not_defined == 1]

,installments_boleto,installments_credit_card,installments_debit_card,installments_not_defined,installments_voucher,value_boleto,value_credit_card,value_debit_card,value_not_defined,value_voucher
order_id,,,,,,,,,,
00b1cb0320190ca0daa2c88b35206009,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4637ca194b6387e2d538dc89b124b0ee,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
c8c528189310eaa44a745b8d9d26908b,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
donnees = donnees[donnees.installments_not_defined != 1]

In [42]:
donnees.reset_index().order_id.nunique()

99437

In [43]:
donnees.drop(columns=['installments_not_defined','value_not_defined'],inplace=True)

In [44]:
donnees.reset_index(inplace=True)

In [45]:
#donnees.installments_credit_card.isna().sum()
donnees.installments_credit_card = donnees.installments_credit_card.astype('int8')

In [46]:
donnees.installments_boleto = donnees.installments_boleto.astype('int8')
donnees.installments_debit_card = donnees.installments_debit_card.astype('int8')
donnees.installments_voucher = donnees.installments_voucher.astype('int8')

In [47]:
donnees.dtypes

order_id                     object
installments_boleto            int8
installments_credit_card       int8
installments_debit_card        int8
installments_voucher           int8
value_boleto                float64
value_credit_card           float64
value_debit_card            float64
value_voucher               float64
dtype: object

In [48]:
donnees.to_parquet('./ecommerce/order_payments',compression='gzip', engine='pyarrow')

# olist_order_reviews_dataset

In [49]:
donnees = fichiers['olist_order_reviews_dataset.csv']

In [50]:
donnees.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [51]:
commandes = fichiers['olist_orders_dataset.csv']

In [52]:
commandes.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date'],
      dtype='object')

In [53]:
donnees = commandes[['order_id', 'order_purchase_timestamp']].merge(donnees,on='order_id')

In [54]:
donnees.columns

Index(['order_id', 'order_purchase_timestamp', 'review_id', 'review_score',
       'review_comment_title', 'review_comment_message',
       'review_creation_date', 'review_answer_timestamp'],
      dtype='object')

In [55]:
donnees.review_creation_date = pd.to_datetime(donnees.review_creation_date, format='%Y-%m-%d %H:%M:%S',errors='ignore')
donnees.review_answer_timestamp = pd.to_datetime(donnees.review_answer_timestamp, format='%Y-%m-%d %H:%M:%S',errors='ignore')
donnees.order_purchase_timestamp = pd.to_datetime(donnees.order_purchase_timestamp, format='%Y-%m-%d %H:%M:%S',errors='ignore')

In [56]:
donnees['creation'] = (donnees.review_creation_date - donnees.order_purchase_timestamp).dt.days
donnees['answer'] = (donnees.review_answer_timestamp - donnees.review_creation_date).dt.days

In [57]:
donnees.dtypes

order_id                            object
order_purchase_timestamp    datetime64[ns]
review_id                           object
review_score                         int64
review_comment_title                object
review_comment_message              object
review_creation_date        datetime64[ns]
review_answer_timestamp     datetime64[ns]
creation                             int64
answer                               int64
dtype: object

In [58]:
donnees['comment_message'] = donnees.review_comment_message.apply(lambda x : len(str(x)))

In [59]:
donnees.drop(columns=['order_purchase_timestamp','review_creation_date', 
                      'review_answer_timestamp','review_comment_title', 
                      'review_comment_message'],inplace=True)

In [60]:
donnees.head()

,order_id,review_id,review_score,creation,answer,comment_message
0,e481f51cbdc54678b7cc49136f2d6af7,a54f0611adc9ed256b57ede6b6eb5114,4,8,1,170
1,53cdb2fc8bc7dce0b6741e2150273451,8d5266042046a06655c8db133d120ba5,4,14,0,20
2,47770eb9100c2d0c44946d9cf07ec65d,e73b67b67587f7644d5bd1a52deb1b01,5,9,4,3
3,949d5b44dbf5de918fe9c16f97b45f8a,359d03e676b3c069f62cadba8dd3f6e8,5,14,2,105
4,ad21c59c0840e6cb83a9ceb5573f8159,e50934924e227544ba8246aeb3770dd4,5,3,1,3

In [61]:
df1 = donnees.pivot_table(index='order_id',
                              columns='review_score',
                              values=['review_id'], 
                              aggfunc=['count'],fill_value=0)
df1.columns = [str(col[1]).replace('id','') + str(col[2]) for col in df1.columns]
df1.head()

,review_1,review_2,review_3,review_4,review_5
order_id,,,,,
00010242fe8c5a6d1ba2dd792cb16214,0,0,0,0,1
00018f77f2f0320c557190d7a144bdd3,0,0,0,1,0
000229ec398224ef6ca0657da4fc703e,0,0,0,0,1
00024acbcdf0a6daa1e931b038114c75,0,0,0,1,0
00042b26cf59d7ce69dfabb4e55b4fd9,0,0,0,0,1

In [62]:
df2 = donnees.pivot_table(index='order_id',
                              columns='review_score',
                              values=['creation','answer','comment_message'], 
                              fill_value=0)
df2.columns = [str(col[0]) + str(col[1]) for col in df2.columns]
df2.head()

,answer1,answer2,answer3,answer4,answer5,comment_message1,comment_message2,comment_message3,comment_message4,comment_message5,creation1,creation2,creation3,creation4,creation5
order_id,,,,,,,,,,,,,,,
00010242fe8c5a6d1ba2dd792cb16214,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,46.0,0.0,0.0,0.0,0.0,7.0
00018f77f2f0320c557190d7a144bdd3,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,16.0,0.0
000229ec398224ef6ca0657da4fc703e,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,90.0,0.0,0.0,0.0,0.0,8.0
00024acbcdf0a6daa1e931b038114c75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,6.0,0.0
00042b26cf59d7ce69dfabb4e55b4fd9,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,39.0,0.0,0.0,0.0,0.0,25.0

In [63]:
donnees = df1.join(df2)

In [64]:
donnees.head()

,review_1,review_2,review_3,review_4,review_5,answer1,answer2,answer3,answer4,answer5,comment_message1,comment_message2,comment_message3,comment_message4,comment_message5,creation1,creation2,creation3,creation4,creation5
order_id,,,,,,,,,,,,,,,,,,,,
00010242fe8c5a6d1ba2dd792cb16214,0,0,0,0,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,46.0,0.0,0.0,0.0,0.0,7.0
00018f77f2f0320c557190d7a144bdd3,0,0,0,1,0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,16.0,0.0
000229ec398224ef6ca0657da4fc703e,0,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,90.0,0.0,0.0,0.0,0.0,8.0
00024acbcdf0a6daa1e931b038114c75,0,0,0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,6.0,0.0
00042b26cf59d7ce69dfabb4e55b4fd9,0,0,0,0,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,39.0,0.0,0.0,0.0,0.0,25.0

In [65]:
donnees.isna().sum()

review_1            0
review_2            0
review_3            0
review_4            0
review_5            0
answer1             0
answer2             0
answer3             0
answer4             0
answer5             0
comment_message1    0
comment_message2    0
comment_message3    0
comment_message4    0
comment_message5    0
creation1           0
creation2           0
creation3           0
creation4           0
creation5           0
dtype: int64

In [66]:
donnees.reset_index(inplace=True)

In [67]:
donnees.dtypes

order_id             object
review_1              int64
review_2              int64
review_3              int64
review_4              int64
review_5              int64
answer1             float64
answer2             float64
answer3             float64
answer4             float64
answer5             float64
comment_message1    float64
comment_message2    float64
comment_message3    float64
comment_message4    float64
comment_message5    float64
creation1           float64
creation2           float64
creation3           float64
creation4           float64
creation5           float64
dtype: object

In [68]:
donnees.order_id.nunique()

99441

In [69]:
donnees.to_parquet('./ecommerce/order_reviews',compression='gzip', engine='pyarrow')

# olist_customers_dataset

In [70]:
donnees = fichiers['olist_customers_dataset.csv']

In [71]:
donnees.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [72]:
donnees.describe(include='all')

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
count,99441,99441,99441.000000,99441,99441
unique,99441,96096,NaN,4119,27
top,06b8999e2fba1a1fbc88172c00ba8bc7,8d50f5eadf50201ccdcedfb9e2ac8455,NaN,sao paulo,SP
freq,1,17,NaN,15540,41746
mean,NaN,NaN,35137.474583,NaN,NaN
std,NaN,NaN,29797.938996,NaN,NaN
min,NaN,NaN,1003.000000,NaN,NaN
25%,NaN,NaN,11347.000000,NaN,NaN
50%,NaN,NaN,24416.000000,NaN,NaN
75%,NaN,NaN,58900.000000,NaN,NaN
max,NaN,NaN,99990.000000,NaN,NaN

In [73]:
donnees.customer_city.unique()

array(['franca', 'sao bernardo do campo', 'sao paulo', ...,
       'monte bonito', 'sao rafael', 'eugenio de castro'], dtype=object)

In [74]:
donnees.dtypes

customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

In [75]:
donnees.to_parquet('./ecommerce/customers',compression='gzip', engine='pyarrow')

# olist_sellers_dataset

In [76]:
donnees = fichiers['olist_sellers_dataset.csv']

In [77]:
donnees.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [78]:
donnees.seller_id.nunique()

3095

In [79]:
donnees.to_parquet('./ecommerce/sellers',compression='gzip', engine='pyarrow')

# olist_geolocation_dataset

In [80]:
donnees = fichiers['olist_geolocation_dataset.csv']

In [81]:
donnees.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [82]:
donnees.shape

(1000163, 5)

In [83]:
donnees.geolocation_city = donnees.geolocation_city.apply(nettoyer)

In [84]:
donnees.geolocation_zip_code_prefix.nunique()

19015

In [85]:
donnees[['geolocation_zip_code_prefix','geolocation_city','geolocation_state']].drop_duplicates().shape

(19581, 3)

In [86]:
dictEtats = {'AC':'Acre',              
             'AL':'Alagoas',
             'AP':'Amapá',
             'AM':'Amazonas',
             'BA':'Bahia',
             'CE':'Ceará',
             'ES':'Espírito Santo',
             'GO':'Goiás',
             'MA':'Maranhão',
             'MT':'Mato Grosso',
             'MS':'Mato Grosso do Sul', 
             'MG':'Minas Gerais',
             'PA':'Pará',
             'PB':'Paraïba',
             'PR':'Paraná',
             'PE':'Pernambouc',
             'PI':'Piauí',
             'RJ':'Rio de Janeiro',
             'RN':'Rio Grande do Norte',  
             'RS':'Rio Grande do Sul',
             'RO':'Rondônia',
             'RR':'Roraima',
             'SC':'Santa Catarina',
             'SP':'São Paulo',
             'SE':'Sergipe',
             'TO':'Tocantins',
             'DF':'District fédéral'} 
donnees['nom_etat'] = donnees.geolocation_state.apply(lambda x: dictEtats[x])
donnees.geolocation_city       = donnees.geolocation_city.apply(lambda x: str(x).title())

In [87]:
donnees.columns

Index(['geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng',
       'geolocation_city', 'geolocation_state', 'nom_etat'],
      dtype='object')

In [88]:
geo01 = donnees.groupby(['geolocation_zip_code_prefix']).agg({'geolocation_lat':['min','max','mean'],
                                          'geolocation_lng':['min','max','mean']})

In [89]:
geo01.columns = [ str(col[0]).replace('geolocation_','')+'_'+col[1] for col in geo01.columns ]

In [90]:
geo01.reset_index(inplace=True)

In [91]:
geo02 = donnees.assign( rn = donnees.sort_values(
                                                 ['geolocation_city','geolocation_lat','geolocation_lng']
                                                 ).groupby(['geolocation_zip_code_prefix']).cumcount()+1
                  ).query('rn < 2').sort_values(['geolocation_zip_code_prefix','rn']).drop(columns=['rn','geolocation_lat','geolocation_lng'])

In [92]:
donnees = geo02.merge(geo01,on='geolocation_zip_code_prefix')

In [93]:
donnees.head()

,geolocation_zip_code_prefix,geolocation_city,geolocation_state,nom_etat,lat_min,lat_max,lat_mean,lng_min,lng_max,lng_mean
0,1001,Sao Paulo,SP,São Paulo,-23.551427,-23.549292,-23.550190,-46.634410,-46.633559,-46.634024
1,1002,Sao Paulo,SP,São Paulo,-23.548878,-23.544641,-23.548146,-46.636361,-46.633180,-46.634979
2,1003,Sao Paulo,SP,São Paulo,-23.549083,-23.548901,-23.548994,-46.637157,-46.634862,-46.635731
3,1004,Sao Paulo,SP,São Paulo,-23.550765,-23.549181,-23.549799,-46.635371,-46.634057,-46.634757
4,1005,Sao Paulo,SP,São Paulo,-23.549980,-23.548758,-23.549456,-46.638411,-46.634768,-46.636733

In [94]:
donnees.dtypes

geolocation_zip_code_prefix      int64
geolocation_city                object
geolocation_state               object
nom_etat                        object
lat_min                        float64
lat_max                        float64
lat_mean                       float64
lng_min                        float64
lng_max                        float64
lng_mean                       float64
dtype: object

In [95]:
donnees.geolocation_zip_code_prefix.nunique()

19015

In [96]:
donnees.to_parquet('./ecommerce/geolocation',compression='gzip', engine='pyarrow')

# Les données des produits

``olist_products_dataset.csv`` <br>
``product_category_name_translation.csv``

In [97]:
produits = fichiers['olist_products_dataset.csv']
categories=fichiers['product_category_name_translation.csv']

In [98]:
produits.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [99]:
donnees = produits.merge(categories,how='left',on='product_category_name')

In [100]:
donnees.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,art
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0,sports_leisure
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0,baby
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0,housewares

In [101]:
donnees[donnees.product_category_name_english.isna()][['product_category_name',
                                                       'product_category_name_english']].drop_duplicates()

,product_category_name,product_category_name_english
105,NaN,NaN
1628,pc_gamer,NaN
5821,portateis_cozinha_e_preparadores_de_alimentos,NaN

In [102]:
donnees.loc[donnees.product_category_name_english.isna() & 
                                       (donnees.product_category_name == 'pc_gamer'),'product_category_name_english'] = 'pc_gamer'
donnees.product_category_name_english[donnees.product_category_name_english.isna() & 
                                       (donnees.product_category_name == 'portateis_cozinha_e_preparadores_de_alimentos') ] = 'kitchenware_tools_and_gadget'

In [103]:
donnees.product_category_name_english.fillna('not documented',inplace=True)

In [104]:
donnees.isna().sum()

product_id                         0
product_category_name            610
product_name_lenght              610
product_description_lenght       610
product_photos_qty               610
product_weight_g                   2
product_length_cm                  2
product_height_cm                  2
product_width_cm                   2
product_category_name_english      0
dtype: int64

In [105]:
donnees.dtypes

product_id                        object
product_category_name             object
product_name_lenght              float64
product_description_lenght       float64
product_photos_qty               float64
product_weight_g                 float64
product_length_cm                float64
product_height_cm                float64
product_width_cm                 float64
product_category_name_english     object
dtype: object

In [106]:
donnees.product_id.nunique()

32951

In [107]:
donnees.to_parquet('./ecommerce/products',compression='gzip', engine='pyarrow')